<main class="main">
  <div class="content">
    <h1>Star Wars</h1>

    <!-- Iframe de YouTube: autoplay, controles y loop -->
<iframe
  width="800"
  height="450"
  src="https://www.youtube.com/embed/8Qn_spdM5Zg?autoplay=1&mute=1&controls=1&loop=1&playlist=8Qn_spdM5Zg"
  title="Star Wars: The Rise of Skywalker Trailer"
  frameborder="0"
  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
  allowfullscreen>
</iframe>



    <p>
      Más información en
      <a href="https://www.starwars.com/" target="_blank" rel="noopener">Star Wars Oficial</a>.
    </p>
  </div>
</main>

<router-outlet></router-outlet>
